{% extends "_base.html" %}


{% block content %}




        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand me-lg-5 me-0" href="../../../templates/templatemo/index.html">
                        <img src="../../../static/images/pod-talk-logo.png" class="logo-image img-fluid" alt="templatemo pod talk">
                    </a>

                    <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
                        <div class="input-group input-group-lg">    
                            <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast" aria-label="Search">

                            <button type="submit" class="form-control" id="submit">
                                <i class="bi-search"></i>
                            </button>
                        </div>
                    </form>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="../../../templates/templatemo/index.html">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="../../../templates/templatemo/about.html">About</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                    <li><a class="dropdown-item active" href="listing_page.html">Listing Page</a></li>

                                    <li><a class="dropdown-item" href="detail_page.html">Detail Page</a></li>
                                </ul>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link" href="../../../templates/templatemo/contact.html">Contact</a>
                            </li>
                        </ul>

                        <div class="ms-4">
                            <a href="#section_2" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
                        </div>
                    </div>
                </div>
            </nav>
            

             <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">

                            <h2 class="mb-0">Listing Page</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="latest-podcast-section section-padding" id="section_2">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">
                                    {% for post in posts_list %}
                                        {{ post.title }}
                                    {% endfor %}
                                </h4>
                            </div>
                        </div>

                        {% for post in posts_list %}

                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="custom-block d-flex">
                                    <div class="">
                                        <div class="custom-block-icon-wrap">
                                            <div class="section-overlay"></div>
                                            <a href="detail_page.html" class="custom-block-image-wrap">
                                                <img src="{{ post.image }}"
                                                     class="custom-block-image img-fluid" alt="">

                                                <a href="#" class="custom-block-icon">
                                                <i class="bi-play-fill"></i>
                                            </a>
                                        </a>
                                    </div>

                                    <div class="mt-2">
                                        <a href="{% url 'detail_page' post.id %}" class="btn custom-btn">
                                            read more
                                        </a>
                                    </div>
                                </div>

                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <i class="bi-clock-fill custom-icon"></i>
                                            50 Minutes
                                        </small>

                                        <small>Episode <span class="badge">15</span></small>
                                    </div>

                                    <h5 class="mb-2">
                                        <a href="detail_page.html">
                                            {{ post.title }}
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="../../../static/images/profile/woman-posing-black-dress-medium-shot.jpg"
                                             class="profile-block-image img-fluid" alt="">

                                        <p>
                                            {{ post.author }}
                                            <img src="../../../static/images/verified.png"
                                                 class="verified-image img-fluid" alt="">
                                            <strong>


                                            </strong></p>
                                    </div>

                                    <p class="mb-0">


                                    </p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>120k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>42.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>11k</span>
                                        </a>

                                        <a href="#" class="bi-download">
                                            <span>50k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        <div class="col-lg-4 col-12 mx-auto">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-lg justify-content-center mt-5">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>

                                    <li class="page-item"><a class="page-link" href="#">2</a></li>

                                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>


            <section class="trending-podcast-section section-padding pt-0">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <div class="section-title-wrap mb-5">
                                <h4 class="section-title">Trending episodes</h4>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail_page.html">
                                        <img src="../../../static/images/podcast/27376480_7326766.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail_page.html">
                                            Vintage Show
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="../../../static/images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">

                                        <p>Elsa
                                            <strong>Influencer</strong></p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>100k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail_page.html">
                                        <img src="../../../static/images/podcast/27670664_7369753.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail_page.html">
                                            Vintage Show
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="../../../static/images/profile/cute-smiling-woman-outdoor-portrait.jpg" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            Taylor
                                            <img src="../../../static/images/verified.png" class="verified-image img-fluid" alt="">
                                            <strong>Creator</strong>
                                        </p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>100k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-12">
                            <div class="custom-block custom-block-full">
                                <div class="custom-block-image-wrap">
                                    <a href="detail_page.html">
                                        <img src="../../../static/images/podcast/12577967_02.jpg" class="custom-block-image img-fluid" alt="">
                                    </a>
                                </div>

                                <div class="custom-block-info">
                                    <h5 class="mb-2">
                                        <a href="detail_page.html">
                                            Daily Talk
                                        </a>
                                    </h5>

                                    <div class="profile-block d-flex">
                                        <img src="../../../static/images/profile/handsome-asian-man-listening-music-through-headphones.jpg" class="profile-block-image img-fluid" alt="">

                                        <p>
                                            William
                                            <img src="../../../static/images/verified.png" class="verified-image img-fluid" alt="">
                                            <strong>Vlogger</strong></p>
                                    </div>

                                    <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>100k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-heart"></i>
                                    </a>

                                    <a href="#" class="badge ms-auto">
                                        <i class="bi-bookmark"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>

{% endblock %}