{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div>
                        {#                        <a href="{% url 'home' %}">#}
                        {#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
                        {#                        </a>#}

                        <h2 align="center">'پرندگان'</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h2 class="section-title">بیماری های پرندگان </h2>
                            </div>
                            <h6 align="right" class="fw-bold">

                                ویژگی های مختلف پرندگان چیست؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                پرندگان گروهی از مهره‌داران خونگرم هستند که با پرها، آرواره‌های منقاری بدون دندان،
                                تخم‌گذاری با پوسته سخت، سرعت متابولیسم بالا، قلب چهار حفره‌ای و در عین حال قوی و اسکلت
                                سبک وزن مشخص می‌شوند.

                            </p>
                            <h6 align="right" style="">
                                چگونه با پرندگان رفتار کنیم ؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                پرستاری دلسوزانه از پرندگان خانگی بیمار داشته باشید .
                                تمام داروها را طبق دستور مصرف کنید.
                                پرنده خانگی خود را گرم نگه دارید.
                                چرخه خواب پرنده خود را تغییر ندهیم
                                مطمئن شوید که پرنده شما می خورد و می نوشد.
                                از استرس دوری کنید.
                                پرندگان بیمار را جدا کنید.
                                اگر بیمار شدید شد به پزشک شخصی خود اطلاع دهید.
                                در صورت بدتر شدن وضعیت پرنده خود به دامپزشک خود اطلاع دهید.

                            </p>
                            <h6 align="right">
بهترین خوراکی برای پرنده چیست؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                دانه‌های آفتابگردان، ارزن و تکه‌های بادام‌زمینی رایج‌ترین خوراکی‌هایی هستند که برای پذیرایی و پاداش استفاده می‌شوند. اما اگر پرنده شما آن ها را دوست ندارد، باید به دنبال موارد دیگر باشید . دقت کنید، برخی از پرندگان به بادام زمینی واکنش منفی نشان می دهند، بنابراین، ایده خوبی است که سعی کنید از آنها دوری کنید.
                            </p>

                            <h6 align="right">
                                چگونه عفونت ویروسی در پرندگان را درمان می کنید؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                درمان شامل مراقبت های حمایتی و ضد میکروبی برای عفونت های ثانویه است. پس از ایجاد علائم بالینی، متاسفانه اغلب اوقات  بیماری کشنده است. البته برخی از پرندگان واکنش ایمنی نشان داده و بهبود می یابند و هرگز علائم بالینی را نشان نمی دهند. به طور کلی بهترین کار واکسینه کردن پرنده میباشد .
                            </p>

                            <h6 align="right">
                                آیا می توانم به پرنده خود آنتی بیوتیک بدهم؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
                                داروهای "انسانی" زیادی در پرندگان استفاده می شود. به طور مثال، مردم آنتی بیوتیکی با نام تجاری Augmentin مصرف می کنند. نام عمومی این آموکسی سیلین   "کلاوولانیک اسید" است. پرندگان نیز می توانند این دارو را به خوبی مصرف کنند، اما مارکی که بیشتر مورد استفاده قرار می گیرد کلاواموکس نام دارد.البته حتما قبل از مصرف با دامپزشک خود مشورت کنید .
                            </p>

                            <img src="../../../static/images/posts/birds.png" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">

                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
