{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div>
                        {#                        <a href="{% url 'home' %}">#}
                        {#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
                        {#                        </a>#}

                        <h2 align="center">'گربه ها'</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h2 class="section-title">غذای گربه ها </h2>
                            </div>
                            <h6 align="right" class="fw-bold">

                                چه غذایی برای گربه ها بهتر است؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                گربه ها حیوانات گوشت خواری هستند، به همین سادگی ، آنها برای داشتن زندگی با طول عمر بالا
                                و عالی باید پروتئین استفاده کنند . گوشت گاو پخته شده، مرغ، بوقلمون و مقادیر کمی گوشت
                                اغذیه فروشی بدون چربی راهی عالی برای این کار است. البته گوشت خام یا فاسد می تواند گربه
                                شما را بیمار کند.
                            </p>
                            <h6 align="right" style="">
                                گربه ها چه نوع غذایی می خورند؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                گربه ها گوشت خوار هستند. آنها همچنین تنوع را دوست دارند، بنابراین ممکن است با خوردن غذای
                                تکراری روز به روز راضی نباشند.برخی از غذاهای غنی از پروتئین که گربه ها دوست دارند بخورند
                                عبارتند از:انواع ماهی ها مانند سالمون، قزل آلا، تن و ماهی سفید.طیور مانند مرغ، بوقلمون و
                                قرقاول.گوشت گاو.
                            </p>
                            <h6 align="right">
                                آیا گربه ها می توانند برنج بخورند؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                ممکن است در بسیاری از رژیم‌های غذایی انسان یک ماده اصلی باشد، اما آیا گربه‌ها می‌توانند
                                برنج بخورند؟ الان برای گربه ها خوردن مقداری برنج پخته شده بی خطر است. شما همچنین ممکن
                                است برنج را در تعدادی از غذاهای گربه مشاهده کنید، زیرا می تواند به یک غذای متعادل تغذیه
                                ای برای گربه کمک کند.
                            </p>

                            <h6 align="right">
                                چه غذاهایی گربه ها را خوشحال می کند؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                7 غذای سالم انسان برای گربه ها که لذت بخش است عبارتند از :
                                سبزیجات. اگر متوجه شدید که گربه شما گیاهان آپارتمانی را می جود، ممکن است در رژیم غذایی
                                خود به فیبر بیشتری نیاز داشته باشد.غلات کامل. غلات کامل یا تصفیه نشده غذای بسیار خوبی
                                برای گربه هستند. ...
                                تخم مرغ پخته شده ، پنیر ، آووکادو ، گوشت ، ماهی.
                            </p>

                            <h6 align="right">
                                آیا می توانیم به گربه شیر بدهیم؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
                                حقیقت این است که بیشتر گربه‌ها به لاکتوز حساسیت دارند، بنابراین دادن شیر گاو به آنها
                                می‌تواند باعث مشکلات سلامتی قابل توجهی شود. شیر بخشی از تغذیه ضروری گربه نیست و بسیاری
                                از گربه‌ها از ناراحتی معده یا سایر مشکلات مرتبط رنج می‌برند و متاسفانه صاحبشان فکر
                                می‌کنند که به آنها غذای خوبی می‌دهند.
                            </p>

                            <img src="../../../static/images/posts/cat-food.png" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">

                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
