{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div>
                        {#                        <a href="{% url 'home' %}">#}
                        {#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
                        {#                        </a>#}

                        <h2 align="center">'سگها'</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h2 class="section-title">سلامت سگها </h2>
                            </div>


                            <h6 align="right">
چگونه با یک سگ بیمار رفتار می کنید؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
سگ های بیمار نیاز به خواب و استراحت زیادی دارند. مکانی آرام و راحت برای استراحت سگ خود فراهم کنید که مزاحمتی نداشته باشد، از جمله سایر حیوانات خانگی یا کودکان خردسال که ممکن است آزاردهنده باشند. ممکن است بخواهید سگ بیمار خود را در یک اتاق خصوصی یا فضای جداگانه ای از خانه نگه دارید تا مطمئن شوید که آنها تنها می مانند.
                            </p>

                            <h6 align="right">
سگ ها چقدر عمر می کنند؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
میانگین طول عمر سگ ها بین 10 تا 13 سال است، اگرچه بین نژادها و اندازه ها ،  تنوع وجود دارد.
                            </p>


                            <h6 align="right">
سگ ها چقدر می خوابند؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
سگ‌های بالغ: به نظر می‌رسد که بیشتر سگ‌های بالغ روزانه بین ۸ تا ۱۳.۵ ساعت خواب نیاز دارند که میانگین آن کمتر از ۱۱ ساعت است.
                            </p>


                            <h6 align="right">
چه غذایی به سگ بیمار بدهیم؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
مرغ و برنج مواد اولیه بسیاری از غذاهای سگ هستند و این غذاهای ملایم به خوبی روی معده ناراحت سگ ها می نشینند. مرغ خرد شده برای معده ناراحت خیلی خوش هضم است و به عنوان یک انگیزه بزرگ برای غذا خوردن برای سگ هایی با کاهش اشتها عمل می کند.كدو حلوايي.آب قلم، آبگوشت استخوان و غذای خشک توله هم از موارد خوب برای سگهای بیمار میباشد .
                            </p>


                            <img src="../../../static/images/posts/dog-Healthy.png" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">

                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
