{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div >
{#                        <a href="{% url 'home' %}">#}
{#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
{#                        </a>#}

                        <h2 align="center">درباره ما</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h4 class="section-title">متاورس </h4>
                            </div>

                            <p align="right" class="align-content-lg-end">یکی از موارد جالب که چند وقت است بر سر زبان ها
                                افتاده ، واژه متاورس است . آیا واقعا مفهوم متاورس چیست ؟ </p>
                            <img src="../../../static/images/metaverse/metaverse_land.jpeg" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">بر طبق برداشت از سخنان بزرگان علم و فناوری همچون مارک
                                زاکربرگ میتوان چنین استنباط کرد که متاورس دنیای مجازی می باشد ، که آینده اینترنت در آن
                                گنجانده شده است هرچند مدتی است که از تغییر نام فیس بوک به متا گذشته است اما هنوز ارائه
                                جدیدی از این دنیا جدید که قابل ملاحظه باشد مشاهده نکردیم . البته این عدم انسجام در تعریف
                                متاورس دور از منطق نیست زیرا همانطور که در گذشته ما دیده بودیم در سال ۱۹۷۰ زمانی که
                                اینترنت تازه ایجاد شده بود هیچکس تصوری در مورد اینکه شاهد چه دنیای در زمان حال در
                                اینترنت خواهیم بود،نداشت و به عبارتی هیچکس توان پیش بینی این دنیای جدید اینترنت که در آن
                                هستیم را در آن زمان متصور نبود. در حال حاضر دو راه امکان پذیر برای دسترسی به دنیای
                                متاورس استفاده از عینک های واقعیت محازی میباشد. اگرچه اینها تنها راه های ارتباطی به این
                                دنیای عجیب نیست همانطور که در حال حاضر برداشت کلی از اینترنت به گوگل ختم میشود اما این
                                را می دانیم که گوگل تمام اینترنت نیست .</p>
                            <p align="right">
                                <b>خرید و فروش املاک دیجیتال</b><br> ما شاهد افزایش معاملات در دنیای متاورس هستیم  .قیمت های زمین در متاورس رو به افزایش است ، حتی در مواردی شاهد معامله زمین با قیمت بیش از ۴ میلیون دلار نیز بودیم این امردر بعضی از پلتفرم ها بسیار شدیدتر است به طور مثال در پلتفرم  سندباکس از جمله مواردی هستند که افراد با خرید و فروش در آنها به سودهای کلان رسیدند.</p>

                        </div>
                    </div>
<br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
