{% extends "_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12" id="sidebar"></div>
        <div id="content" class="col-lg-8 col-md-9 col-sm-6 col-xs-12">
            <div class="card" style="width: 18rem;">
              <img src="" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
