{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div>
                        {#                        <a href="{% url 'home' %}">#}
                        {#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
                        {#                        </a>#}

                        <h2 align="center">'خزندگان'</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h2 class="section-title">غذای خزندگان </h2>
                            </div>
                            <h6 align="right" class="fw-bold">

                                خزنده ها چه می خورند؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                            همانطور که انتظار میرود  خزندگان چیز های جذابی نمیخورند ، از جمله موارد مورد علاقه خزندگان میتوان به حشرات، نرم تنان، پرندگان، قورباغه ها، پستانداران، ماهی ها یا حتی سایر خزندگان اشاره کرد .اگرچه  لاک پشت های خشکی گیاهخوار هستند و در برخی موارد از برگ، علف و حتی کاکتوس استفاده میکنند .
                            </p>
                            <h6 align="right" style="">
                                خزندگان چه چیزی را نمی توانند بخورند؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                موش ها نگهداری کمی نیاز دارند ، مقرون به صرفه هستند و به ندرت بیمار می شوند. موش ها به
                                طرز شگفت آوری تمیز هستند و می توان آنها را آموزش داد.
                            </p>
                            <h6 align="right">
                                میانگین طول عمر خزندگان در اسارت چقدر است ؟
                            </h6>
                            <p align="right" class="align-content-lg-end">


توپ پیتون                                                15 تا 20 سال

دستگاه بوآ                                                 15 تا 25 سال

اژدهای ریشدار                                            5 تا 10 سال

مار ذرت                                                 10 تا 15 سال

لاک پشت جعبه ای شرقی                              25 تا 50 سال

آنول سبز                                                 4 تا 8 سال

ایگوانای سبز                                            5 تا 15 سال

شاه مار                                             10 تا 15 سال

مارمولک پلنگی                                     20+ سال

لاک پشت پلنگی                                      50+ سال

آفتاب پرست های دنیای قدیم                         3 تا 8 سال
                            </p>

                            <h6 align="right">
                                خزندگان چه چیزی را نمی توانند بخورند؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                با این حال از کلم پیچ، اسفناج، کلم بروکلی، کلم و کاهوی رومی اجتناب کنید، زیرا این سبزی ها حاوی ماده ای هستند که از جذب مناسب کلسیم توسط خزندگان جلوگیری می کند.

                            </p>

                            <h6 align="right">
آیا همه خزندگان گوشت می خورند؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
                                   بیشتر دوزیستان و خزندگان گوشتخوار هستندو  به این معنی است که آنها حیوانات یا حشرات دیگر را می خورند.البته  تعداد کمی گیاهخوار هستند، یعنی فقط مواد گیاهی را می خورند و برخی همه چیزخوار هستند، یعنی هر دو را خواهند خورد.
                            </p>

                            <img src="../../../static/images/posts/reptiles.png" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">

                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
