{% extends "_base.html" %}

<main>
    {% block content %}

        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div>
                        {#                        <a href="{% url 'home' %}">#}
                        {#                            <img src="../static/images/aryan-tech.png" class="" alt="t">#}
                        {#                        </a>#}

                        <h2 align="center">'جوندگان'</h2>
                    </div>

                </div>
            </div>
        </header>


        <section class="about-section section-padding" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="pb-5 mb-5">
                            <div class="section-title-wrap mb-4">
                                <h2 class="section-title">غذای جوندگان </h2>
                            </div>
                            <h6 align="right" class="fw-bold">

                                آیا جوندگان حیوانات خانگی خوبی هستند؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                گاهی به جوندگان "حیوان خانگی جیبی" نیز گفته می شود که حیوانات خانگی بسیار محبوبی هستند.
                                خرگوش ، همستر، موش و خوکچه هندی از رایج ترین جوندگانی هستند که به عنوان حیوان خانگی
                                نگهداری می شوند. آنها برای خردسالان گزینه خوبی هستند ،ضمن اینکه به نسبت ، نیاز به مراقبت
                                زیادی ندارند.
                            <h6 align="right" style="">
                                داشتن موش خانگی خوب است؟

                            </h6>
                            <p align="right" class="align-content-lg-end">
                                موش ها نگهداری کمی نیاز دارند ، مقرون به صرفه هستند و به ندرت بیمار می شوند. موش ها به
                                طرز شگفت آوری تمیز هستند و می توان آنها را آموزش داد.
                            </p>
                            <h6 align="right">
                                در اینجا 10 حقیقت جالب در مورد موش ها وجود دارد که شما را شگفت زده خواهد کرد!
                            </h6>
                            <p align="right" class="align-content-lg-end">

                                1- موش ها حافظه خوبی دارند
                                2- موش ها حیوانات اجتماعی هستند
                                3- موش ها بسیار مشکوک هستند
                                4- موش ها بسیار تمیز هستند و واقعا از کثیف شدن متنفرند
                                5- موش ها کور رنگ هستند و بینایی ضعیفی دارند
                                6- موش ها کوهنوردان، جهنده ها و شناگران عالی هستند
                                7- موش ها دندان های تیز دارند
                                8- موش ها عملکرد دم باورنکردنی دارند
                                9- بیش از 60 گونه موش در جهان وجود دارد
                                10- موش ها بی وقفه تولید مثل می کنند.


                            <h6 align="right">
                                به جوندگان به عنوان حیوانات خانگی چه غذایی می دهید؟
                            </h6>
                            <p align="right" class="align-content-lg-end">
                                به آنهابا تنوع غذا بدهید .
                                موش ها همه چیزخوار هستند، بنابراین می توانید رژیم غذایی آنها را با مقادیر کمی میوه،
                                سبزیجات، تخم مرغ پخته شده، غلات و دانه ها تکمیل کنید و از مصرف غذاهای مضر مانند پیاز،
                                مرکبات، گردو، ریواس، انگور، کشمش و شکلات خودداری کنید و همچنین
                                از مصرف قندها و غذاهای پرچرب مانند لبنیات خودداری کنید.

                            </p>

                            <h6 align="right">
                                بهترین غذای خرگوش چیست؟
                            </h6>


                            <p align="right" class="align-content-lg-end">
                                یونجه مهمترین بخش از مصرف روزانه خرگوش است. یونجه علف سرشار از فیبر است که برای حفظ
                                سلامت دستگاه گوارش خرگوش بسیار مهم است.
                            </p>

                            <img src="../../../static/images/posts/rabbit.png" class="img-fluid" alt="">
                            <p align="right" class="btn-dark">

                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>
                            <h6 align="right">

                            </h6>


                            <p align="right" class="align-content-lg-end">

                            </p>


                        </div>
                    </div>
                    <br>
                    <div class="col-lg-12 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Meet podcaters</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Taylor
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Modeling</span>

                                <span class="badge">Fashion</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    William
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Creative</span>

                                <span class="badge">Design</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-pinterest"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Chan
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Education</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-linkedin"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="team-thumb bg-white shadow-lg">
                            <img src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                                 class="about-image img-fluid" alt="">

                            <div class="team-info">
                                <h4 class="mb-2">
                                    Candice
                                    <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                </h4>

                                <span class="badge">Storytelling</span>

                                <span class="badge">Business</span>
                            </div>

                            <div class="social-share">
                                <ul class="social-icon">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        </main>

    {% endblock %}
